python_version <= 3.9
attrs
beautifulsoup4
branca
certifi
charset-normalizer
click
click-plugins
cligj
colorama
et-xmlfile
Fiona
folium
geographiclib
geopandas
geopy
idna
Jinja2
mapa
MarkupSafe
munch
numpy
openpyxl
packaging
pandas
pydantic
pyproj
python-dateutil
pytz
requests
shapely
six
soupsieve
streamlit
streamlit-folium
tomli
typing_extensions
urllib3
